<div class="gateway-modal modal">
    <!-- 修改密码弹窗 -->
    <script type="text/ng-template" id="Gateway_ChangePasswordModal">
        <div class="gateway-modal-change-password eo-modal">
            <header>
                <ul>
                    <li>修改密码</li>
                </ul>
            </header>
            <article>
                <form name="editForm">
                    <ul>
                        <li>
                            <span>旧密码：</span>
                        </li>
                        <li class="input-li">
                            <input class="eo-input" type="password" name="old" placeholder="旧密码" placeholder="旧密码" ng-pattern="/^[\x21-\x7E]{6,32}$/"
                                ng-model="data.interaction.request.oldPassword" maxlength="32" required=>
                        </li>
                        <li>
                            <span>新密码：</span>
                        </li>
                        <li class="input-li">
                            <input class="eo-input" type="password" name="new" placeholder="新密码" ng-pattern="/^[\x21-\x7E]{6,32}$/" ng-model="data.interaction.request.newPassword"
                                maxlength="32" required>
                        </li>
                        <li>
                            <span>确认新密码：</span>
                        </li>
                        <li class="input-li">
                            <input class="eo-input" type="password" name="confirm" placeholder="确认新密码" ng-model="$ctrl.data.interaction.request.confirm"
                                maxlength="32" password-confirm-directive="new" required>
                        </li>
                        <li class="btn-group">
                            <button class="eo-button-success" button-set-disable-directive="data.fun.confirm()">确认</button>
                            <a class="eo-button-default " ng-click="cancel()">关闭</a>
                        </li>
                    </ul>
                </form>
            </article>
        </div>
        <div class="mask"></div>
    </script>
    <!-- 添加编辑网关频率弹窗 -->
    <script type="text/ng-template" id="GatewayRateLimitModal">
        <div class="modal-group eo-modal">
            <header>
                <ul>
                    <li data-ng-bind="::title"></li>
                </ul>
            </header>
            <article>
                <form name="editGroupForm">
                    <ul>
                        <li>
                            <ul class="group-select group-ul pull-left" ng-if="params.hadSelected">
                                <li>单位时间：</li>
                                <li>
                                    <select class="eo-input " data-ng-model="info.$index" ng-disabled="!info.isAdd">
                                        <option ng-repeat="item in params.query" value="{{$index}}">{{item.groupName}}</option>
                                    </select>
                                </li>
                            </ul>
                            <ul class="group-inherit  group-ul" data-ng-class="{'group-name':params.hadSelected}">
                                <li>{{secondTitle}}：</li>
                                <li>
                                    <input type="text" name="name" data-ng-model="info.groupName" placeholder="限制每单位时间能够访问的最大次数" class="eo-input " data-ng-class="{'eo-input-error':(submited&&editGroupForm.name.$invalid)}"
                                        ng-pattern="/^[1-9]*[1-9][0-9]*$/" maxlength="32" ng-required="{{!required}}">
                                </li>
                            </ul>
                        </li>
                        <li class="btn-group">
                            <button class="eo-button-success " ng-click="ok()">确定</button>
                            <input type="button" class="eo-button-default " value="取消" ng-click="cancel()">
                        </li>
                    </ul>
                </form>
            </article>
            <footer></footer>
        </div>
        <div class="mask"></div>
    </script>
    <!-- 添加编辑gateway输入弹窗 -->
    <script type="text/ng-template" id="Gateway_DefaultModal">
        <div class="gateway-default-modal eo-modal">
            <header>
                <ul>
                    <li ng-bind="::data.title"></li>
                </ul>
            </header>
            <article>
                <form name="ConfirmForm">
                    <ul>
                        <li class="name">
                            <p class="second-title-p">网关名称：</p>
                            <p>
                                <input type="text" name="name" ng-model="interaction.request.gatewayName" placeholder="1~32位字符串" class="eo-input " ng-class="{'eo-input-error':(submited&&ConfirmForm.name.$invalid)}"
                                    maxlength="32" ng-pattern="/^.{1,32}$/" required>
                            </p>
                        </li>
                        <li class="desc">
                            <p class="second-title-p">网关描述：</p>
                            <p>
                                <textarea name="name" ng-model="interaction.request.gatewayDesc" placeholder="网关描述[选填]" class="eo-input" maxlength="200"></textarea>
                            </p>
                        </li>
                        <!-- <li class="tips-li">*网关所在区域一旦确定就无法修改，请谨慎填写</li> -->
                        <li class="btn-group">
                            <button class="eo-button-success " ng-click="fun.confirm()">确定</button>
                            <input type="button" class="eo-button-default " value="取消" ng-click="fun.cancel()">
                        </li>
                    </ul>
                </form>
            </article>
        </div>
        <div class="mask"></div>
    </script>
    <!-- 添加编辑网关后端服务表弹窗 -->
    <script type="text/ng-template" id="GatewayBackendModal">
        <div class="gateway-backend-modal eo-modal">
            <header>
                <ul>
                    <li ng-bind="::title"></li>
                </ul>
            </header>
            <article>
                <form name="ConfirmForm">
                    <ul>
                        <li>
                            <p class="second-title-p">后端服务名称：</p>
                            <p>
                                <input type="text" name="name" ng-model="info.backendName" placeholder="请输入后端服务名称" class="eo-input " ng-class="{'eo-input-error':(submited&&ConfirmForm.name.$invalid)}"
                                    ng-pattern="/^.{1,255}$/" maxlength="255" required>
                            </p>
                        </li>
                        <li>
                            <p class="second-title-p">后端服务地址（域名或IP地址，不需要HTTP或HTTPS等协议头）：</p>
                            <p>
                                <input type="text" name="uri" ng-model="info.backendURI" placeholder="请输入后端服务uri" class="eo-input " ng-class="{'eo-input-error':(submited&&ConfirmForm.uri.$invalid)}"
                                    ng-pattern="/^.{1,255}$/" maxlength="255" required>
                            </p>
                        </li>
                        <li class="btn-group">
                            <button class="eo-button-success " ng-click="ok()">确定</button>
                            <input type="button" class="eo-button-default " value="取消" ng-click="cancel()">
                        </li>
                    </ul>
                </form>
            </article>
            <footer></footer>
        </div>
        <div class="mask"></div>
    </script>
</div>