eo-navbar1 {
    .nav-1 {
        @extend %NAV-BASIC-STYLE;
        background-color: #fff;
        position: fixed;
        top: 0;
        .nav-header {
            @include eo-line(50px, 48px);
        }
    }
}
