<div class="content-wrap" ng-switch="$ctrl.data.info.status">
    <header>
        <img alt="logo" src="app/assets/images/arrange_logo.jpg">
    </header>
    <article ng-switch-when='set-first'>
        <p class="title-p">1.安装前指引</p>
        <p class="tips-p">欢迎使用GoKu&nbsp;Gateway（Lite）。如需查看更多有关GoKu&nbsp;Gateway（Lite）版本的详情以及了解最新消息，请前往
            <a href="http://blog.eolinker.com" class="eo-link" target="_blank">eoLinker官方社区</a>。</p>
        <ul class="step-ul">
            <li>首先，为了初始化项目，我们需要您准备好以下步骤：</li>
            <li>1.Redi主机地址;</li>
            <li>2.Redis数据库序号;</li>
            <li>3.Reids密码;</li>
            <li>4.数据库主机地址;</li>
            <li>5.您已经新建好的数据库名称，如'goku_gateway';</li>
            <li>6.数据库用户名;</li>
            <li>7.数据库密码。</li>
        </ul>
        <p class="last-p">绝大多数时候，您的网站服务提供商会给您这些支持。如果您没有这些信息，在继续之前您将需要联系他们。如果准备好了，可继续下一步。</p>
        <p class="title-p">2.配置Redis</p>
        <p class="tips-p">请在下方填写您的Redis连接信息。如果您不确定，请联系您的服务提供商。</p>
        <form>
            <table class="common-table">
                <tr>
                    <td>Redis主机</td>
                    <td>
                        <input type="text" class="eo-input" ng-model="$ctrl.data.interaction.request.redisHost">
                    </td>
                    <td>Redis所在服务器地址，本机一般为localhost</td>
                </tr>
                <tr>
                    <td>Redis数据库序号</td>
                    <td>
                        <input type="text" class="eo-input" ng-model="$ctrl.data.interaction.request.redisDB">
                    </td>
                    <td>连接您Redis所用的数据库序号</td>
                </tr>
                <tr>
                    <td>Redis密码</td>
                    <td>
                        <input type="text" class="eo-input" ng-model="$ctrl.data.interaction.request.redisPassword">
                    </td>
                    <td>连接您Redis所用的密码</td>
                </tr>
            </table>
            <p class="btn-group-p" ng-switch="$ctrl.data.info.conn.redis">
                <button class="eo-button-success" button-set-disable-directive="$ctrl.data.fun.check.redis()">检测连接
                    <span class="iconfont icon-shuaxin pull-right"></span>
                </button>
                <label class="eo-status-success" style="font-size: 14px;" ng-switch-when=1>&nbsp;&nbsp;&nbsp;&nbsp;Redis连接成功</label>
                <label class="eo-status-error" style="font-size: 14px;" ng-switch-when=0>&nbsp;&nbsp;&nbsp;&nbsp;Redis连接失败</label>
            </p>
        </form>
        <p class="title-p">3.配置数据库</p>
        <p class="tips-p">请在下方填写您的数据库连接信息。如果您不确定，请联系您的服务提供商。</p>
        <form>
            <table class="common-table">
                <tr>
                    <td>数据库主机</td>
                    <td>
                        <input type="text" class="eo-input" ng-model="$ctrl.data.interaction.request.mysqlHost">
                    </td>
                    <td>数据库所在服务器地址，本机一般为localhost</td>
                </tr>
                <tr>
                    <td>数据库名</td>
                    <td>
                        <input type="text" class="eo-input" ng-model="$ctrl.data.interaction.request.mysqlDBName">
                    </td>
                    <td>要将GoKu&nbsp;Gateway（Lite）安装至哪个数据库</td>
                </tr>
                <tr>
                    <td>数据库用户名</td>
                    <td>
                        <input type="text" class="eo-input" ng-model="$ctrl.data.interaction.request.mysqlUserName">
                    </td>
                    <td>连接您数据库所用的用户名</td>
                </tr>
                <tr>
                    <td>数据库密码</td>
                    <td>
                        <input type="text" class="eo-input" ng-model="$ctrl.data.interaction.request.mysqlPassword">
                    </td>
                    <td>连接您数据库所用的密码</td>
                </tr>
            </table>
            <p class="warning-p">
                <b class="eo-status-error">注意：</b>请保证您填写的数据库用户名对应的用户拥有对数据库的建表操作权限，否则GoKu&nbsp;Gateway（Lite）将无法正常安装成功。如需了解更多关于GoKu&nbsp;Gateway（Lite）安装过程中遇到的问题以及相应的解决办法，请点击这里进入eoLinker官方交流社区，提交问题以及寻找答案。</p>
            <p class="btn-group-p" ng-switch="$ctrl.data.info.conn.db">
                <button class="eo-button-success" button-set-disable-directive="$ctrl.data.fun.check.database()">检测连接
                    <span class="iconfont icon-shuaxin pull-right"></span>
                </button>
                <label class="eo-status-success" style="font-size: 14px;" ng-switch-when=1>&nbsp;&nbsp;&nbsp;&nbsp;数据库连接成功</label>
                <label class="eo-status-error" style="font-size: 14px;" ng-switch-when=0>&nbsp;&nbsp;&nbsp;&nbsp;数据库连接失败</label>
            </p>
        </form>

        <p class="title-p">4.确认服务端配置信息</p>
        <form name="editForm">
            <table class="common-table">
                <tr>
                    <td>端口</td>
                    <td>
                        <input type="text" class="eo-input" ng-model="$ctrl.data.interaction.request.gatewayPort" required>
                    </td>
                    <td>系统网关服务端端口</td>
                </tr>
            </table>
            <p class="btn-group-p">
                <button class="eo-button-success arrange-btn" ng-disabled="!($ctrl.data.info.conn.redis&&$ctrl.data.info.conn.db&&editForm.$valid)"
                    button-set-disable-directive="$ctrl.data.fun.confirm('set-config')">安装配置
                    <span class="iconfont icon-xiangyou pull-right"></span>
                </button>
            </p>
        </form>
    </article>
    <article ng-switch-when='set-second'>
        <p class="title-p">管理员信息</p>
        <form name="editForm">
            <table class="common-table">
                <tr>
                    <td>用户名</td>
                    <td>
                        <input type="text" class="eo-input" ng-model="$ctrl.data.interaction.request.userName" required>
                    </td>
                    <td>系统管理员用户名</td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td>
                        <input type="text" class="eo-input" ng-model="$ctrl.data.interaction.request.userPassword" required>
                    </td>
                    <td>请牢记，一旦忘记只能修改数据库</td>
                </tr>
            </table>
            <p class="btn-group-p">
                <button class="eo-button-success arrange-btn" ng-click="$ctrl.data.info.status='set-first'">返回上一步
                    <span class="iconfont icon-xiangzuo pull-right"></span>
                </button>
                <button class="eo-button-success arrange-btn" button-set-disable-directive="$ctrl.data.fun.confirm('set-admin')">确认
                    <span class="iconfont icon-xiangyou pull-right"></span>
                </button>
            </p>
        </form>
    </article>
    <article ng-switch-when='success'>
        <p class="title-p">安装成功</p>
        <p class="emoji-p eo-status-success">:)</p>
        <p class="tips-p">恭喜，GoKu&nbsp;Gateway（Lite）已经安装成功！</p>
        <p class="btn-group-p">
            <a class="eo-button-success arrange-btn" href="./#/login">登录页面
                <span class="iconfont icon-xiangyou pull-right"></span>
            </a>
        </p>
    </article>
    <article ng-switch-when='failure'>
        <p class="title-p">安装失败</p>
        <p class="emoji-p eo-status-error">:(</p>
        <p class="tips-p">抱歉，GoKu&nbsp;Gateway（Lite）在安装过程中出了一些问题，请联系您的客服人员或者点击返回进行重试！</p>
        <p class="btn-group-p">
            <button class="eo-button-success arrange-btn" ng-click="$ctrl.data.info.status='set-second'">返回上一步
                <span class="iconfont icon-xiangzuo pull-right"></span>
            </button>
        </p>
    </article>
</div>
<div load-directive="$ctrl.data.fun.load(arg)" interaction="{request:{delay:true}}">
</div>