gateway {
    .gateway {
        width: 100%;
        .gateway-content {
            .home-project-inside-div {
                margin: 0 0 0 $HOME-GROUP-SIDEBAR-LEFT;
            }
            gpedit-gateway-component .common-li {
                float: right;
                @include eo-line(30px);
                margin: 9px 0;
                margin-right: 5px;
            }
        }
    }
}