<div class="modal">
    <!-- 重新登录弹窗 -->
    <script type="text/ng-template" id="Common_LoginModal">
        <div class="common-modal-login  eo-modal">
            <header>
                <ul>
                    <li class="pull-left">登录框</li>
                    <li class="btn-group pull-right">
                        <a class="iconfont icon-close" ng-click="data.fun.close()"></a>
                    </li>
                </ul>
            </header>
            <p class="tips-p eo-status-error">您的账号当前状态为未登录，若想继续操作，请重新登录！（若直接关闭，将会自动跳转登陆页面）</p>
            <article>
                <form name="confirmForm">
                    <ul>
                        <li>
                            <label class="common-label pull-left">用户名</label>
                            <input class="eo-input" name="username" ng-model="data.interaction.request.loginName" type="text" placeholder="手机号/用户名/邮箱"
                                ng-class="{'eo-input-error':confirmForm.username.$invalid&&data.info.submitted}" required autofocus
                            />
                        </li>
                        <li>
                            <label class="common-label  pull-left">密码</label>
                            <input class="eo-input" name="password" ng-class="{'eo-input-error':data.info.submitted&&confirmForm.password.$invalid}"
                                type="password" placeholder="密码" ng-model="data.interaction.request.loginPassword" required />
                        </li>
                        <li>
                            <button ng-class="{'eo-button-success':confirmForm.$valid,'eo-button-default':confirmForm.$invalid}" ng-click="data.fun.confirm()">登录</button>
                        </li>
                    </ul>
                </form>
            </article>
            <footer></footer>
        </div>
        <div class="mask"></div>
    </script>
    <!-- Info弹窗 -->
    <script type="text/ng-template" id="InfoModal">
        <div class="modal-info eo-modal" ng-class="{'error':type=='error','success':type=='success','info':type=='info'}">
            <ul>
                <li>
                    <span>
                        <i class="iconfont" ng-class="{'icon-close':type=='error','icon-check':type=='success','icon-shanchu':type=='info'}"></i>
                    </span>
                    <span class="text-center modal-title" ng-bind="::info"></span>
                </li>
            </ul>
        </div>
    </script>
    <!-- 确认弹窗 -->
    <script type="text/ng-template" id="EnsureModal">
        <div class="modal-sure eo-modal">
            <header>
                <ul>
                    <li>{{title}}
                        <tip-directive input="{{data.input.tips}}" ng-if="data.input.tips"></tip-directive>
                    </li>
                </ul>
            </header>
            <article>
                <form name="sureForm">
                    <ul>
                        <li ng-bind="::info.message" class="{{data.input.class}}"></li>
                        <li ng-if="necessity">
                            <input type="text" name="sure" ng-model="sure" placeholder="删除操作不可撤回，确定请输入yes" class="eo-input " ng-class="{'eo-input-error':(submited&&sureForm.sure.$invalid)}"
                                ng-pattern="/^[y|Y][e|E][s|S]$/" autofocus="true" required>
                        </li>
                        <li class="btn-group">
                            <button ng-class="{'eo-button-danger':info.btnType==0,'eo-button-info':info.btnType==1,'eo-button-success':info.btnType==2}"
                                ng-click="ok()">{{info.btnMessage}}</button>
                            <input type="button" ng-repeat="item in info.btnGroup" ng-class="{'eo-button-danger':item.btnType==0,'eo-button-info':item.btnType==1,'eo-button-success':item.btnType==2}"
                                ng-href="{{item.href}}" ng-click="item.confirm()" download="{{item.downloadMsg}}" value="{{item.btnMessage}}">
                            <input type="button" class="eo-button-default " value="取消" ng-click="cancel()">
                        </li>
                    </ul>
                </form>
            </article>
            <footer></footer>
        </div>
        <div class="mask"></div>
    </script>
    <!-- 添加编辑分组弹窗 -->
    <script type="text/ng-template" id="GroupModal">
        <div class="modal-group eo-modal">
            <header>
                <ul>
                    <li ng-bind="::title"></li>
                </ul>
            </header>
            <article>
                <form name="editGroupForm">
                    <ul>
                        <li>
                            <ul class="group-select group-ul pull-left" ng-if="params.hadSelected">
                                <li>父分组：</li>
                                <li>
                                    <select class="eo-input " ng-model="info.$index">
                                        <option ng-repeat="item in params.query" value="{{$index}}">{{item.groupName}}</option>
                                    </select>
                                </li>
                            </ul>
                            <ul class="group-inherit  group-ul" ng-class="{'group-name':params.hadSelected}">
                                <li>{{secondTitle}}：</li>
                                <li>
                                    <input type="text" name="name" ng-model="info.groupName" placeholder="1~32位字符串" class="eo-input " ng-class="{'eo-input-error':(submited&&editGroupForm.name.$invalid)}"
                                        ng-pattern="/^.{1,32}$/" maxlength="32" ng-required="{{!required}}">
                                </li>
                            </ul>
                        </li>
                        <li class="btn-group">
                            <button class="eo-button-success " ng-click="ok()">确定</button>
                            <input type="button" class="eo-button-default " value="取消" ng-click="cancel()">
                        </li>
                    </ul>
                </form>
            </article>
            <footer></footer>
        </div>
        <div class="mask"></div>
    </script>
    <!-- 单input&单textarae弹窗 -->
    <script type="text/ng-template" id="Common_SingelInputAndTextareaModal">
        <div class="common-modal-singel-input-and-textarea eo-modal">
            <header ng-bind="::input.config.title"></header>
            <article>
                <form name="ConfirmForm">
                    <p class="title-p">名称：</p>
                    <p>
                        <input type="text" name="name" ng-model="input.request.name" placeholder="{{input.config.namePlaceholder}}"
                            class="eo-input " ng-class="{'eo-input-error':(ConfirmForm.name.$dirty&&ConfirmForm.name.$invalid)}"
                            ng-pattern="{{input.config.namePattern}}" maxlength="{{input.config.nameLength}}" required>
                    </p>
                    <p class="title-p">描述：</p>
                    <p>
                        <textarea name="description" ng-model="input.request.desc" maxlength="{{input.config.descLength}}" placeholder="{{input.config.descPlaceholder}}"></textarea>
                    </p>
                    <p class="btn-group">
                        <button class="eo-button-success " ng-click="fun.confirm()">确定</button>
                        <input type="button" class="eo-button-default " value="取消" ng-click="fun.cancel()">
                    </p>
                </form>
            </article>
            <footer></footer>
        </div>
        <div class="mask"></div>
    </script>
</div>