<gateway-gpedit-sidebar></gateway-gpedit-sidebar>
<article>
    <menu-common-component list="$ctrl.component.menuObject.list" show-object="$ctrl.component.menuObject.show"></menu-common-component>
    <form name="ConfirmForm">
        <ul>
            <li class=" type-li first-level-li ">
                <ul>
                    <li class="pull-left checkbox-item-li " ng-repeat="item in $ctrl.data.info.menu ">
                        <input class="hidden " type="radio" name="typeItem " value="{{item.id}}" ng-model="$ctrl.data.interaction.response.authInfo.auth "
                            id="typeItem-{{$index}}" ng-disabled="!$ctrl.component.menuObject.show.status.isEdit">
                        <label for="typeItem-{{$index}}" class="iconfont pull-left" ng-class="{ 'icon-radioboxfill':$ctrl.data.interaction.response.authInfo.auth==item.id, 'icon-radiobox':$ctrl.data.interaction.response.authInfo.auth!=item.id,'disabled':!$ctrl.component.menuObject.show.status.isEdit} "></label>
                        <label for="typeItem-{{$index}}" ng-class="{'disabled':!$ctrl.component.menuObject.show.status.isEdit} ">{{item.key}}</label>
                    </li>
                </ul>
            </li>
            <li class="content-li " ng-show="$ctrl.data.interaction.response.authInfo.auth=='basic'">
                <p>
                    <span class="mark-span">用户名：</span>
                    <input class="eo-input" name="username" placeholder="UserName" ng-model="$ctrl.data.interaction.response.authInfo.basicUserName"
                        ng-disabled="!$ctrl.component.menuObject.show.status.isEdit" ng-required="$ctrl.data.interaction.response.authInfo.auth=='basic'"
                        ng-class="{'eo-input-error':ConfirmForm.$submitted&&ConfirmForm.username.$invalid}">
                </p>
                <p>
                    <span class="mark-span">密码：</span>
                    <input class="eo-input" ng-hide="$ctrl.data.info.password.isShow" name="password" type="password" placeholder="UserPassword"
                        ng-model="$ctrl.data.interaction.response.authInfo.basicUserPassword" ng-required="$ctrl.data.interaction.response.authInfo.auth=='basic'"
                        ng-disabled="!$ctrl.component.menuObject.show.status.isEdit" ng-class="{'eo-input-error':(ConfirmForm.$submitted||ConfirmForm.password.$dirty)&&ConfirmForm.password.$invalid}"
                        maxlength="255">
                    <input class="eo-input" ng-show="$ctrl.data.info.password.isShow" name="eyepassword" placeholder="UserPassword" ng-model="$ctrl.data.interaction.response.authInfo.basicUserPassword"
                        ng-required="$ctrl.data.interaction.response.authInfo.auth=='basic'" ng-disabled="!$ctrl.component.menuObject.show.status.isEdit"
                        ng-class="{'eo-input-error':(ConfirmForm.$submitted||ConfirmForm.password.$dirty)&&ConfirmForm.password.$invalid}"
                        maxlength="255">
                    <a class="iconfont" ng-class="{'icon-attention':$ctrl.data.info.password.isShow,'icon-attentionfill':!$ctrl.data.info.password.isShow}"
                        ng-click="$ctrl.data.info.password.isShow=!$ctrl.data.info.password.isShow"></a>
                </p>
            </li>
            <li class="content-li " ng-show="$ctrl.data.interaction.response.authInfo.auth=='apiKey'">
                <p>
                    <span class="mark-span">API&nbsp;Key：</span>{{$ctrl.data.interaction.response.authInfo.apiKey}}
                    <copy-common-component copy-model="$ctrl.data.interaction.response.authInfo.apiKey" button-html="复制" switch-templet="0" is-popup="true"></copy-common-component>
                    <a class="eo-link" ng-click="$ctrl.fun.refreshApiKey()" ng-show="$ctrl.component.menuObject.show.status.isEdit">重新生成</a>
                </p>
                <p class="eo-status-danger">* 请在header加入相应参数，参数名为：ApiKey</p>
            </li>
            <li class="content-li tips-li" ng-show="$ctrl.data.interaction.response.authInfo.auth=='none'">
                网关不会对调用者做身份认证，若开放该API请设置好按API的流量控制。
            </li>
        </ul>
    </form>
</article>