<div>
    <article class="first-level-article">
        <div class="first-div">
            <form name="editForm">
                <ul>
                    <li class=" type-li first-level-li " >
                        <ul>
                            <li class="pull-left checkbox-item-li " data-ng-repeat="item in $ctrl.data.info.menu ">
                                <input class="hidden " type="radio" name="typeItem " value="{{$index}} " data-ng-model="$ctrl.data.info.template.request.chooseType " id="typeItem-{{$index}} " data-ng-change="$ctrl.data.fun.changeSwitch()" ng-disabled="!$ctrl.data.info.isEdit">
                                <label for="typeItem-{{$index}} " class="iconfont " data-ng-class="{ 'icon-radioboxfill':$ctrl.data.info.template.request.chooseType==$index, 'icon-radiobox':$ctrl.data.info.template.request.chooseType!=$index,'disabled':!$ctrl.data.info.isEdit} "></label><label for="typeItem-{{$index}} " data-ng-class="{'disabled':!$ctrl.data.info.isEdit} ">{{item.key}}</label>
                            </li>
                        </ul>
                    </li>
                    <li class="content-textarea-li ">
                        <textarea class="ip-list-textarea" data-ng-model="$ctrl.data.interaction.request.ipList" required ng-disabled="!$ctrl.data.info.isEdit||$ctrl.data.info.template.request.chooseType==0" placeholder="多个IP地址请用英文分号分隔。如：120.123.1.1;165.34.3.1"></textarea>
                    </li>
                    <li class="btn-li first-level-li " ng-if="$ctrl.data.info.isEdit">
                        <button class="eo-button-success btn " button-set-disable-directive="$ctrl.data.fun.edit() ">保存</button>
                        <button class="eo-button-default btn " data-ng-click="$ctrl.data.fun.cancle()">取消</button>
                    </li>
                    <li class="btn-li first-level-li " ng-if="!$ctrl.data.info.isEdit">
                        <button class="eo-button-success btn " data-ng-click="$ctrl.data.info.isEdit=true">编辑</button>
                    </li>
                </ul>
            </form>
        </div>
    </article>
</div>
