<gateway-gpedit-sidebar></gateway-gpedit-sidebar>
<article>
    <menu-common-component list="$ctrl.component.menuObject.list" show-object="$ctrl.component.menuObject.show"></menu-common-component>
    <form name="editForm">
        <ul>
            <li class=" type-li first-level-li ">
                <ul>
                    <li class="pull-left checkbox-item-li " data-ng-repeat="item in $ctrl.data.info.menu ">
                        <input class="hidden " type="radio" name="typeItem " value="{{item.keyID}} " data-ng-model="$ctrl.data.interaction.response.ipList.ipLimitType "
                            id="typeItem-{{$index}} " data-ng-change="$ctrl.data.fun.changeSwitch()" ng-disabled="!$ctrl.component.menuObject.show.status.isEdit">
                        <label for="typeItem-{{$index}} " class="iconfont " data-ng-class="{ 'icon-radioboxfill':$ctrl.data.interaction.response.ipList.ipLimitType==item.keyID, 'icon-radiobox':$ctrl.data.interaction.response.ipList.ipLimitType!=item.keyID,'disabled':!$ctrl.component.menuObject.show.status.isEdit} "></label>
                        <label for="typeItem-{{$index}} " data-ng-class="{'disabled':!$ctrl.component.menuObject.show.status.isEdit} ">{{item.key}}</label>
                    </li>
                </ul>
            </li>
            <li class="content-textarea-li " ng-switch="$ctrl.data.interaction.response.ipList.ipLimitType">
                <textarea class="ip-list-textarea" data-ng-model="$ctrl.data.interaction.response.ipList.ipBlackList" required ng-disabled="!$ctrl.component.menuObject.show.status.isEdit" placeholder="多个IP地址请用英文分号分隔。如：120.123.1.1;165.34.3.1" ng-switch-when='black'></textarea>
                <textarea class="ip-list-textarea" data-ng-model="$ctrl.data.interaction.response.ipList.ipWhiteList" required ng-disabled="!$ctrl.component.menuObject.show.status.isEdit" placeholder="多个IP地址请用英文分号分隔。如：120.123.1.1;165.34.3.1" ng-switch-when='white'></textarea>
                    <textarea class="ip-list-textarea"  ng-switch-when='none' disabled placeholder="多个IP地址请用英文分号分隔。如：120.123.1.1;165.34.3.1"></textarea>
            </li>
        </ul>
    </form>
</article>