<div >
    <table>
        <thead>
            <tr>
                <th ng-repeat="item in $ctrl.mainObject.tdList" ng-style="item.style" ng-switch="item.type" ng-show="$ctrl.showObject[item.showVariable]==item.show||!item.showVariable" ng-if="!item.authority||$ctrl.authorityObject[item.authority]">
                    <inner-html-common-directive ng-switch-when='customized-html'  html="{{item.html}}"></inner-html-common-directive>
                    <span ng-switch-default>{{item.name}}</span>
                </th>
            </tr>
        </thead>
        <tbody inner-html-common-directive html="{{$ctrl.data.info.html}}"></tbody>
    </table>
</div>