<article>
    <p class="title-p">
        <b>基本信息</b>
    </p>
    <ul class="common-ul">
        <li class="item-li">
            <p class="item-title-p">
                <label>网关状态：</label>
                <span>{{$ctrl.data.interaction.response.confInfo.gatewayServiceStatus?'运行中':'已关闭'}}</span>
            </p>
        </li>
        <li class="btn-group-li">
            <label>网关操作：</label>
            <div class="list-div">
                <p>
                    <button class="eo-button-success" ng-click="$ctrl.data.fun.operate('reload')" ng-disabled="!$ctrl.data.interaction.response.confInfo.gatewayServiceStatus">重载</button>
                </p>
                <p>
                    <button class="eo-button-success" ng-click="$ctrl.data.fun.operate('restart')" ng-disabled="!$ctrl.data.interaction.response.confInfo.gatewayServiceStatus">重启</button>
                </p>
                <p>
                    <button ng-class="{'eo-button-success':!$ctrl.data.interaction.response.confInfo.gatewayServiceStatus,'eo-button-danger':$ctrl.data.interaction.response.confInfo.gatewayServiceStatus}" ng-click="$ctrl.data.fun.operate('basic')">{{$ctrl.data.interaction.response.confInfo.gatewayServiceStatus?'停止':'开启'}}</button>
                </p>
            </div>
        </li>
    </ul>
</article>
<article>
    <p class="title-p">
        <b>GoKu配置</b>
    </p>
    <form name="BasicForm">
        <ul class="common-ul">
            <li class="item-li">
                <p class="item-title-p">port</p>
                <p>
                    <input class="eo-input" type="text" placeholder="监听端口" ng-model="$ctrl.data.interaction.response.confInfo.gatewayPort" ng-disabled="!$ctrl.data.info.status.config.isEdit"><span style="color:#ff5722;font-size:13px;margin-left:10px">修改后端服务端口，必须重启网关才能生效</span>
                </p>
            </li>
            <li class="btn-group-li" ng-show="$ctrl.data.info.status.config.isEdit">
                <button class="eo-button-success" ng-click="$ctrl.data.fun.edit()">保存</button>
                <input class="eo-button-default" type="button" value="取消" ng-click="$ctrl.data.fun.cancle()" />
            </li>
            <li class="btn-group-li" ng-hide="$ctrl.data.info.status.config.isEdit">
                <input class="eo-button-success" type="button" value="编辑" ng-click="$ctrl.data.info.status.config.isEdit = true;" />
            </li>
        </ul>
    </form>
</article>